.combo-box {
    -fx-background-color: transparent;
    -fx-text-fill: #0d6efd;
    -fx-prompt-text-fill: #0d6efd;
}

.cell .list-cell {
    -fx-text-fill: #0d6efd;
    -fx-prompt-text-fill: #0d6efd;
}