.combo-box-base {
    -fx-background-color: #0d6efd;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell {
    -fx-text-fill: black;
}