.text-field {
    -fx-text-fill: #0d6efd;
    -fx-background-color: transparent;
    -fx-border-radius: 2em;
    -fx-border-color: white;
}

.text-input:error {
    -fx-text-fill: white;
    -fx-border-insets: 0;
    -fx-border-width: 2px;
    -fx-border-radius: 2em;
    -fx-border-color: red;
    -fx-border-style: hidden hidden solid hidden;
    -fx-background-color: red;
}