<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/uni</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="connection.pool_size">3</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
<!--        <property name="format_sql">true</property>-->
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
<!--        <property name="hibernate.id.new_generator_mappings">false</property>-->

        <mapping class="com.fxproject.unidashboard.model.Person"/>
        <mapping class="com.fxproject.unidashboard.model.Addresses"/>
        <mapping class="com.fxproject.unidashboard.model.Students"/>
        <mapping class="com.fxproject.unidashboard.model.Professors"/>
        <mapping class="com.fxproject.unidashboard.model.UniversityAccounts"/>
        <mapping class="com.fxproject.unidashboard.model.Departments"/>
        <mapping class="com.fxproject.unidashboard.model.FieldsOfStudy"/>
        <mapping class="com.fxproject.unidashboard.model.Groups"/>
        <mapping class="com.fxproject.unidashboard.model.Subjects"/>
        <mapping class="com.fxproject.unidashboard.model.Wages"/>
        <mapping class="com.fxproject.unidashboard.model.Marks"/>
        <mapping class="com.fxproject.unidashboard.model.Attendances"/>
        <mapping class="com.fxproject.unidashboard.model.Exams"/>
        <mapping class="com.fxproject.unidashboard.model.Lectures"/>
        <mapping class="com.fxproject.unidashboard.model.ProfessorsSubjectsInGroups"/>

    </session-factory>

</hibernate-configuration>